packages
/.vs
/GoogleSheetsTest/obj
/GoogleSheetsTest/bin
/GoogleSheetsUploader/bin/Debug
/GoogleSheetsUploader/obj/Debug
/GoogleSheetsTest/Data/New folder
/_test
/GoogleSheetsUploader/bin
/GoogleSheetsUploader/obj/Release
/GoogleSheetsTest/Data
