<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
 <appSettings>
    <add key="timer" value="30"/>
   
    <add key="InputPath" value="C:\xDamijan\test\GoogleSheetsTest\GoogleSheetsTest\Data\"/>
    <add key="FilePrefix" value="ExtraLog2018"/>
    <add key="From" value="9"/>
    <add key="To" value="12"/>
    
    <!--<add key="spreadsheetId" value="1dcLjjt-3PUJBoiVyE05iyIaLTWDjnJ5wby3jZw6g5yo"/>-->  <!--1-4-->
    <!--<add key="spreadsheetId" value="1Uxeu1AyYutpcVDvCnl8MTOEIzcN2l37nwWLTNZ_p53E"/>-->  <!--5-8-->
    <add key="spreadsheetId" value="15WC5NQI5aleZjHfBshN8rTNpmGoUnTi7fPPTJq_gH0s"/> <!--9-12-->

    <add key="DailyFile" value="C:\xDamijan\test\GoogleSheetsTest\GoogleSheetsTest\Data\dayfile.txt"/>
    <add key="DailySpreadsheetId" value="1OVs_0FG67zQaGpXanm3-K_HQ1nZqMLCm9hn0a_gKEJo"/>
  </appSettings>
</configuration>