<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="InputFile" value="C:\xDamijan\test\GoogleSheetsTest\GoogleSheetsTest\Data\ExtraLog201808.txt"/>
    <add key="spreadsheetId" value="15WC5NQI5aleZjHfBshN8rTNpmGoUnTi7fPPTJq_gH0s"/>
    <add key="sheetNo" value="8"/>
  </appSettings>
</configuration>